description "Nginx Web Server"

start on stopped finish
stop on runlevel [!2]

console none

# Make sure web sessions don't slow down GUI use
nice 5

# Restart the web server if it exits/dies
respawn

exec /opt/sbin/nginx -p /opt/etc/nginx -c /opt/etc/nginx/nginx.conf -g "daemon off;"

pid file /var/run/nginx.pid

pre-start script
     # Remove the "-i eth0" on the following lines to enable access
     # over the cellular data network (EVDO, etc).
     # Add firewall rule to allow HTTP access over WiFi on port 80
     /usr/sbin/iptables -D INPUT -i eth0 -p tcp --dport  80 -j ACCEPT || /bin/true
     /usr/sbin/iptables -D INPUT -i eth0 -p tcp --dport 443 -j ACCEPT || /bin/true
     # Add firewall rule to allow HTTPS access over WiFi on port 443
     /usr/sbin/iptables -I INPUT -i eth0 -p tcp --dport  80 -j ACCEPT
     /usr/sbin/iptables -I INPUT -i eth0 -p tcp --dport 443 -j ACCEPT
end script

post-stop script
     # Remove the "-i eth0" on the following lines to enable access
     # over the cellular data network (EVDO, etc).
     # Add firewall rule to allow HTTP access over WiFi on port 80
     /usr/sbin/iptables -D INPUT -i eth0 -p tcp --dport  80 -j ACCEPT || /bin/true
     /usr/sbin/iptables -D INPUT -i eth0 -p tcp --dport 443 -j ACCEPT || /bin/true
end script

# end of file

